/* client/src/index.css */

:root {
  /* Definimos los colores de la UdeG una sola vez */
  --blue-udg: #002349;
  --gold-udg: #b2954d;
  --bg-light: #f4f7f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-light);
  color: #213547;
}